.navbar {
  z-index: 20;
  margin: 0 auto;
  padding: 20px 0;
  height: 98px;
}

.navbar .navbar-brand {
  display: inline-block;
  width: 120px;
  margin-right: 100px;
}

.navbar .navbar-brand img {
  width: 100%;
}

.navbar li .nav-link {
  position: relative;
  display: inline-block;
  color: white;
  padding: 15px 20px !important;
  margin-right: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.navbar li .nav-link:hover {
  transform: scale(1.15);
  transition: 50ms;
}

.navbar li .active::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-image: url("../img/icon/menu-active.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.navbar .navbar-toggler {
  color: white !important;
}

.navbar .navbar-toggler:focus, .navbar .navbar-toggler:hover {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.nav-bg {
  background: #089ecf;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    overflow-x: hidden;
}

.content-container {
    margin: 120px 70px 0 70px;
    display:flex;
    flex-direction: row;
    width: 100vw;
    gap: 20px;
    align-items: center;
}

.heading-btn-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.heading-btn-div h2 {
    font-size: 36px;
    color: rgb(52, 50, 50);
}

.login-btn {
    width: 40%;
    border: none;
    background-color: #ffd200;
    height: 50px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
}

.login-btn:hover {
    transform: scale(1.1);
    transition: 50ms;
}

.svg-div {
    width: 30%;
    height: 30%;
}

/* .loggedin-content-container {
    margin: 40px 40px 0 40px;
    display:flex;
    flex-direction: column;
    width: 100vw;
    gap: 20px;
    align-items: center;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url(../assets/Roboto-Regular.ttf);
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
}

a {
  text-decoration: none;
}
img:hover, .full-name:hover, .user-name:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

/* Main Containers */
.main-flex-container {
  max-width: 1350px;
  margin: auto;
  margin-top: 90px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.left-flex-container {
  flex: 1 0 26%;
  height: 100%;
  position: sticky;
  top: 0;
  background:#fff; 
  display: flex;
  flex-flow: column nowrap;
  /* justify-content: center;
  align-items: center; */
  border-right: 1px solid rgb(230, 236, 240);
  padding: 0 10px 0 10px;
}
.center-flex-container {
 flex: 3 0 45%;
 background:#fff;
}
.right-flex-container {
  flex: 2 0 27%;
  height: 100%;
  width: 100%;
  position: sticky;
  top: 0;
  background:#fff;
  border-left: 1px solid rgb(230, 236, 240);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/* Left Navigation */
.logo i{
  color: #1da1f2;
  font-size: 2rem;
  padding: 1rem;
}
.logo i:hover {
  border-radius: 50%;
  padding: 1rem;
}

.nav-links a {
  font-weight: 750;
  color: rgba(20, 23, 26, 0.93);
  padding: 10px 15px;
}

.filter-by {
  display: flex;
  padding-left: 50px;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 0;
}

.filter-by h4 {
  font-weight: 600;
}

.current-page a { 
  color: #089ecf;
  padding: 10px 15px;
  border-radius: 25px;
  background: rgba(29, 161, 242, 0.1);
}

.nav-links a:hover {
  color: #089ecf;
  padding: 10px 15px;
  border-radius: 25px;
}
.nav-items {
  margin: 0.9rem 0.6rem;
  white-space: nowrap;
}
.nav-links i {
  padding-right: 0.5rem;
}
.nav-links {
  margin-top: -1rem;
}

.tweet a {
  display: block;
  margin: auto;
  width: 100%;
  color: #fff;
  background: #1da1f2;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 5rem;
  border-radius: 25px;
}

.tweet a:hover {
  color: #fff;
  background: #198ed6;
}

.profile-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  align-self: center;
  padding: 0 0.6rem;
}
.profile-box:hover {
  background: rgba(29, 161, 242, 0.1);
  border-radius: 25px;
  cursor: pointer;
}

.profile-box img {
  display: block;
  width: 45px;
  height: 45px;
  margin: auto;
  border-radius: 100%;
  margin-right: 0.5rem;
}

.profile-box .full-name {
  font-weight: 600;
  font-size: 1.1rem;
}

.profile-box .options-icon {
  color: #39393a;
  margin-left: 1rem;
}

.user-name {
  color: #39393a;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
}

/* Main Container */
.home {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: #fff;
  border-bottom: 1px solid rgb(230, 236, 240);
  color: #39393a;
  padding: 0.5rem 1rem;
}

/* home panel */
.home h1 {
  font-size: 1.2rem;
  font-weight: 800;
}
.home i {
  font-size: 1.4rem;
  color: #089ecf;
  background: #fff;
  padding: 0.5rem;
  border-radius: 50%
}
.home i:hover {
  background: rgba(29, 161, 242, 0.1);
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

/* Create Tweet box */
.post-tweet {
  background: #fff;
  border-bottom: 10px solid rgb(230, 236, 240);
}
.form-group-1 {
  display: flex;
  flex-flow: row;
  padding: 0.3rem 1rem;
}

.post-tweet img {
  display: inline-block;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-self: center; 
}

.post-tweet input {
  width: 90%;
  height: 60px;
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1.2rem;
  font-weight: 300;
}
.post-tweet input::placeholder {
  color: rgba(123, 124, 126, 0.719);
}
.post-tweet input:focus {
  outline: none;
}
.form-group-2 {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.8rem;
}

.post-icons {
  padding-left: 5rem;
  color: #089ecf;
}
.post-icons i {
  padding-right: 10px;
  font-size: 1.4rem;
}
.post-icons i:hover {
  color: #067498;
  cursor: pointer;
}
.form-group-2 .btn {
  border: none;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.7rem 1.5rem;
  background: #089ecf;
  color: #fff;
  border-radius: 25px;
  margin-right: 1.5rem;
}
.form-group-2 .btn:hover {
  background: #067498;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

/* User Content */
.tweets img {
  display: block;
  width: 100%;
}
.tweets .user-pics img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0.5rem 1rem;
}
.tweets {
  display: flex;
  flex-flow: row;
  justify-content: center;
  font-size: 15px;
  width: 100%;
  line-height: 1.75rem;
  padding-top: 0.5rem;
  border-bottom: 1px solid rgb(230, 236, 240);
}
.tweets:hover {
  background: rgb(245, 248, 250);
}
.full-name:hover {
  text-decoration: underline;
}
.user-content img {
  border-radius: 20px;
}
.user-content {
  font-family: "Roboto";
  padding-right: 1rem;
  color: rgb(48, 52, 56);
  font-weight: 400;
  line-height: 1.5;
}
.user-content a {
  color: rgb(27, 149, 224);
}

.user-content-box {
  display: flex;
  flex-flow: column nowrap;
  color: rgb(20, 23, 26);
}

.user-content-box p {
  margin-bottom: 0.5rem;
}
.user-content-box .user-names {
  display: flex;
  flex-flow: row nowrap;
}
.user-names .full-name {
  padding-right: 10px;
  font-size: 1rem;
  font-weight: 700;
  color: rgb(20, 23, 26);
}
.user-names .user-name {
  padding-right: 10px;
  font-size: 1.05rem;
  font-weight: 400;
  color: rgb(101, 119, 134);
}
.time {
  color: rgb(101, 119, 134);
}
.user-names i {
  padding-top: 0.6rem;
  margin-left: 50%;
  color: rgb(101, 119, 134);

}
.content-icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 4rem 1rem 0;
}

.content-icons i {
  color: rgb(101, 119, 134);
  font-size: 1rem;
  cursor: pointer;
  
}
.content-icons i:last-child {
  font-size: 14px;
}

.content-icons .blue:hover {
  color: rgba(29, 161,242,1.00);
}
.content-icons .green:hover {
  color: rgb(23 191 99);
}
.content-icons .red:hover {
  color: rgb(224, 36, 94);
}
.content-icons .blue:hover {
  color: rgba(29, 161,242,1.00);
}

/* Right Navbar */
.search-box {
  border: 3px solid #ffd200;
  border-radius: 29px;
  padding: 0.05rem 0.7rem;
  background: rgb(255, 255, 255);
  margin-top: 0.5rem;
  white-space: nowrap;
}
.search-box i {
  color: #ffd200;
  font-size: 0.9rem;
}
.search-box input {
  padding: 0.8rem 4.5rem 0.8rem 0.2rem;
  border-radius: 25px;
  outline: none;
  border: none;
  font-size: 1rem;;
  background: rgb(255, 255, 255);
}

/* Trending Nav Items */
.nav-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0.2rem 0.5rem;
  border-bottom: 1px solid rgb(230, 236, 240);
}
.nav-list:hover {
  background: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}
.nav-list a {
    color: rgb(27, 149, 224);
}
.nav-list:last-child {
  font-size: 1rem;
  border-bottom: none;
}
.trend-list {
  display: flex;
  flex-flow: column nowrap;
  
}

.trends {
  background: rgb(245, 248, 250);
  display: flex;
  flex-flow: column nowrap;
  width: 90%;
  border-radius: 15px;
  margin-top: 1rem;
}

.chats-ul {
  padding-left: 0rem;
  padding-top: 15px;
}

.chats-ul p {
  margin-bottom: 0;
}

.trends .header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid rgb(230, 236, 240);
  padding: 0.5rem 1rem 1rem 1rem;
  border-bottom: 1px solid rgb(230, 236, 240);
}

.header h2 {
  font-size: 1.2rem;
  font-weight: 800;
}

.header i {
  color: #089ecf;
  background: rgb(245, 248, 250);
  padding: 0.5rem;
  border-radius: 50%;
  background: rgba(29, 161, 242, 0.1);
}
.header i:hover {
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.main-text {
  font-size: 17px;
  font-weight: bold;
  color: rgb(20, 23, 26);
}

.unread-chat-text {
  color: #089ecf;
  font-weight: bold;
}

.sub-text {
  font-size: 15px;
  color: rgb(101, 119, 134);
}

.nav-list .trend-icon {
  margin-top: 20px;
  margin-right: 8px;
  font-size: 7px;
  color: #089ecf;
}

.right-footer {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 0.5rem;
}
.footer-links a:hover {
  text-decoration: underline;
}
.footer-links i {
    padding: 0.4rem;
    border-radius: 50%;
}
.footer-links i:hover {
    background: rgb(245, 248, 250);
    padding: 0.4rem;
    border-radius: 50%;
    cursor: pointer;
}

.footer-copyright {
  align-self: flex-start;
}

.follow-users-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  font-size: 15px;
  width: 100%;
  line-height: 1.5rem;
}

.related-followers .sub-text {
  font-size: 14px;
  padding-left: 2.1rem;
}
.related-followers i {
  font-size: 0.7rem;
  padding-right: 8px;
}
.follow-header .main-text {
  font-size: 19px;
  font-weight: 800;
}
.full-name h1:hover {
  text-decoration: underline;
}
.user-name .sub-text {
  font-size: 17px;
  color: rgb(101, 119, 134);
}
.follow-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgb(230, 236, 240);
  border-top: 10px solid rgb(230, 236, 240);
}

.follow-header i {
  font-size: 13px;
  align-self: center;
  cursor: pointer;
}
.user-profile img {
  display: inline-block;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-self: center; 
}

.follow-user {
  display: flex;
  flex-flow: column nowrap;
  padding: 0.4rem 1rem;
  border-bottom: 1px solid rgb(230, 236, 240);
}
.follow-user:hover {
  background: rgb(245, 248, 250);
}
.user-profile {
  display: flex;
  flex-flow: row nowrap;
}
.user-profile-content {
  width: 100%;
  padding-bottom: 0.3rem;
}
.title-container {
  display: flex;
  justify-content: space-between;
}
.bio-container{
  font-family: "Roboto";
}
.bio-container a{
  color:rgb(29,161,242);
}
.bio-container a:hover, .user-content a:hover {
  text-decoration: underline;
}

.follow-btn a{
  font-weight: bold;
  color: rgb(29,161,242);
  background: #fff;
  padding: 0.3rem 1.1rem;
  border: 1px solid rgba(29,161,242,1.00);
  border-radius: 25px;
}

.follow-btn a:hover {
  background:  rgba(29, 161, 242, 0.1);;
}

.follow-footer {
  padding: 1rem;
  background: #fff;
  border-bottom: 1px solid rgb(230, 236, 240);
}
.follow-footer a {
  color: rgb(29,161,242);
  font-size: 15px;
  font-weight: 400;
}
.follow-footer:hover {
  background: rgba(0, 0, 0, 0.03);
}

.pagnation {
  margin: 1rem 0;
  text-align: center;
}
.pagnation a {
  color: #fff;
  background: #089ecf;
  padding: 0.3rem 1rem;
  border-radius: 25px;
  font-size: 1rem;
}
.pagnation a:hover {
  background: #198ed6;
}

/* .search-bar-container {
    width: 30%;
    height: 64px;
    box-sizing: border-box;
    border: 4px solid #ffd200;
    border-radius: 28px;
}

.search-bar-input {
    border-radius: 24px;
    display: flex;
    height: 100%;
    width: 100%;
    padding-left: 16px;
    color: #ffd200;
    font-weight: 600;
    font-size: 18px;
} */
 
